.container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.left-section {
    background-color: red;
}

.right-section {
    background-color: blue;
}
