.container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.left-section {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section h3 {
  padding: 0px 5px 0px 0px;
}

.right-section {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.right-section div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
